/**
* @name Widths
* @description Responsive enabled. Used to set percentage widths on an element. Fractions are in 2, 4, 6, 8, 10, 12.
* @section helpers.trumps.visibility
*
*
* @markup
*  <div class="w-1-1">1/1 (100%) width of element's container.</div>
*  <div class="w-5-8">5/8 width of element's container.</div>
*/
@mixin widths-internal-src($display-namespace:"") {

  $widths-namespace: 'w';

  @if use-layout(display, widths) {

    @if use-layout(display, fractions) {
      .#{$display-namespace}#{$widths-namespace}-1-1       { width: 100% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-2,
      .#{$display-namespace}#{$widths-namespace}-2-4,
      .#{$display-namespace}#{$widths-namespace}-3-6,
      .#{$display-namespace}#{$widths-namespace}-4-8,
      .#{$display-namespace}#{$widths-namespace}-5-10,
      .#{$display-namespace}#{$widths-namespace}-6-12      { width: 50% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-3,
      .#{$display-namespace}#{$widths-namespace}-2-6,
      .#{$display-namespace}#{$widths-namespace}-3-9,
      .#{$display-namespace}#{$widths-namespace}-4-12      { width: 33.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-2-3,
      .#{$display-namespace}#{$widths-namespace}-4-6,
      .#{$display-namespace}#{$widths-namespace}-6-9,
      .#{$display-namespace}#{$widths-namespace}-8-12      { width: 66.6666666% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-4,
      .#{$display-namespace}#{$widths-namespace}-2-8,
      .#{$display-namespace}#{$widths-namespace}-3-12      { width: 25% !important; }
      .#{$display-namespace}#{$widths-namespace}-3-4,
      .#{$display-namespace}#{$widths-namespace}-6-8,
      .#{$display-namespace}#{$widths-namespace}-9-12      { width: 75% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-5,
      .#{$display-namespace}#{$widths-namespace}-2-10      { width: 20% !important; }
      .#{$display-namespace}#{$widths-namespace}-2-5,
      .#{$display-namespace}#{$widths-namespace}-4-10      { width: 40% !important; }
      .#{$display-namespace}#{$widths-namespace}-3-5,
      .#{$display-namespace}#{$widths-namespace}-6-10      { width: 60% !important; }
      .#{$display-namespace}#{$widths-namespace}-4-5,
      .#{$display-namespace}#{$widths-namespace}-8-10      { width: 80% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-6,
      .#{$display-namespace}#{$widths-namespace}-2-12      { width: 16.6666666% !important; }
      .#{$display-namespace}#{$widths-namespace}-5-6,
      .#{$display-namespace}#{$widths-namespace}-10-12     { width: 83.3333333% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-8       { width: 12.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-3-8       { width: 37.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-5-8       { width: 62.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-7-8       { width: 87.5% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-9       { width: 11.1111111% !important; }
      .#{$display-namespace}#{$widths-namespace}-2-9       { width: 22.2222222% !important; }
      .#{$display-namespace}#{$widths-namespace}-4-9       { width: 44.4444444% !important; }
      .#{$display-namespace}#{$widths-namespace}-5-9       { width: 55.5555555% !important; }
      .#{$display-namespace}#{$widths-namespace}-7-9       { width: 77.7777777% !important; }
      .#{$display-namespace}#{$widths-namespace}-8-9       { width: 88.8888888% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-10      { width: 10% !important; }
      .#{$display-namespace}#{$widths-namespace}-3-10      { width: 30% !important; }
      .#{$display-namespace}#{$widths-namespace}-7-10      { width: 70% !important; }
      .#{$display-namespace}#{$widths-namespace}-9-10      { width: 90% !important; }

      .#{$display-namespace}#{$widths-namespace}-1-12      { width:  8.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-5-12      { width: 41.6666666% !important; }
      .#{$display-namespace}#{$widths-namespace}-7-12      { width: 58.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-11-12     { width: 91.6666666% !important; }
    } // Close fractions @if.
    @else {
      .#{$display-namespace}#{$widths-namespace}-one-whole           { width: 100% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-half,
      .#{$display-namespace}#{$widths-namespace}-two-quarters,
      .#{$display-namespace}#{$widths-namespace}-three-sixths,
      .#{$display-namespace}#{$widths-namespace}-four-eighths,
      .#{$display-namespace}#{$widths-namespace}-five-tenths,
      .#{$display-namespace}#{$widths-namespace}-six-twelfths        { width: 50% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-third,
      .#{$display-namespace}#{$widths-namespace}-two-sixths,
      .#{$display-namespace}#{$widths-namespace}-three-ninths,
      .#{$display-namespace}#{$widths-namespace}-four-twelfths       { width: 33.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-two-thirds,
      .#{$display-namespace}#{$widths-namespace}-four-sixths,
      .#{$display-namespace}#{$widths-namespace}-six-ninths,
      .#{$display-namespace}#{$widths-namespace}-eight-twelfths      { width: 66.6666666% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-quarter,
      .#{$display-namespace}#{$widths-namespace}-two-eighths,
      .#{$display-namespace}#{$widths-namespace}-three-twelfths      { width: 25% !important; }
      .#{$display-namespace}#{$widths-namespace}-three-quarters,
      .#{$display-namespace}#{$widths-namespace}-six-eighths,
      .#{$display-namespace}#{$widths-namespace}-nine-twelfths       { width: 75% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-fifth,
      .#{$display-namespace}#{$widths-namespace}-two-tenths          { width: 20% !important; }
      .#{$display-namespace}#{$widths-namespace}-two-fifths,
      .#{$display-namespace}#{$widths-namespace}-four-tenths         { width: 40% !important; }
      .#{$display-namespace}#{$widths-namespace}-three-fifths,
      .#{$display-namespace}#{$widths-namespace}-six-tenths          { width: 60% !important; }
      .#{$display-namespace}#{$widths-namespace}-four-fifths,
      .#{$display-namespace}#{$widths-namespace}-eight-tenths        { width: 80% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-sixth,
      .#{$display-namespace}#{$widths-namespace}-two-twelfths        { width: 16.6666666% !important; }
      .#{$display-namespace}#{$widths-namespace}-five-sixths,
      .#{$display-namespace}#{$widths-namespace}-ten-twelfths        { width: 83.3333333% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-eighth          { width: 12.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-three-eighths       { width: 37.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-five-eighths        { width: 62.5% !important; }
      .#{$display-namespace}#{$widths-namespace}-seven-eighths       { width: 87.5% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-ninth           { width: 11.1111111% !important; }
      .#{$display-namespace}#{$widths-namespace}-two-ninths          { width: 22.2222222% !important; }
      .#{$display-namespace}#{$widths-namespace}-four-ninths         { width: 44.4444444% !important; }
      .#{$display-namespace}#{$widths-namespace}-five-ninths         { width: 55.5555555% !important; }
      .#{$display-namespace}#{$widths-namespace}-seven-ninths        { width: 77.7777777% !important; }
      .#{$display-namespace}#{$widths-namespace}-eight-ninths        { width: 88.8888888% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-tenth           { width: 10% !important; }
      .#{$display-namespace}#{$widths-namespace}-three-tenths        { width: 30% !important; }
      .#{$display-namespace}#{$widths-namespace}-seven-tenths        { width: 70% !important; }
      .#{$display-namespace}#{$widths-namespace}-nine-tenths         { width: 90% !important; }

      .#{$display-namespace}#{$widths-namespace}-one-twelfth         { width:  8.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-five-twelfths       { width: 41.6666666% !important; }
      .#{$display-namespace}#{$widths-namespace}-seven-twelfths      { width: 58.3333333% !important; }
      .#{$display-namespace}#{$widths-namespace}-eleven-twelfths     { width: 91.6666666% !important; }
    } // Close fractions @if.
  }
}

@mixin widths-src($display-namespace:"") {
  @include widths-internal-src($display-namespace);

  @each $alias, $condition in $breakpoints {

    @if use-mq($alias, widths) {

        @include media-query(#{$alias}) {
          @include widths-internal-src('#{$alias}--');
        }

      }
  }
}
