@mixin size-src {
  [full-height] {
      height: 100%;
  }
  [full-width] {
      width: 100%;
  }
  [view-height] {
      height: 100vh;
  }
  [view-width] {
      width: 100vw;
  }
  [view-height-min] {
      height: 100vm;
      height: 100vmin;
  }
  [view-height-max] {
      height: 100vmax;
  }
}
